:host /deep/ ng2-st-tbody-custom {
  display: flex !important;
  align-items: center !important;
  margin-bottom: -44px !important;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .buttons {
    button {
      margin-right: 10px;
    }
  }
}
