<nb-card>
  <nb-card-header>
    <div class="title-container">
      <div class="title">
        {{'PATIENTS_LIST' | translate}}
      </div>
      <div class="buttons">
        <button nbButton routerLink="/pages/app/import">{{'IMPORT_PATIENTS' | translate}}</button>
        <button *ngIf="isAdmin || isHospitalAdmin" nbButton
                routerLink="/pages/patients/add">{{'ADD_PATIENT' | translate}}</button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)"
                     (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
