<div class="col-md-5 mt-5 center-col">
  <div class="card">
    <h1 class="card-header-title">{{'FORGOT_PASSWORD' | translate}}</h1>
    <p class="subtitle"> {{'FORGOT_PASSWORD_SUBTITLE' | translate}} </p>
    <div class="card-body">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">{{'EMAIL_ADDRESS' | translate}}</label>
          <input type="text" placeholder="{{'EMAIL_ADDRESS' | translate}}" formControlName="email" name="email"
                 id="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'EMAIL_REQUIRED' | translate}}</div>
          </div>
        </div>
        <button [ngClass]="{'btn-active' : forgotPasswordForm.dirty}" [disabled]="!forgotPasswordForm.dirty"
                class="btn btn-primary forgot-password-btn">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'FORGOT_PASSWORD' | translate}}
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </form>
      <div class="info">
        <p>Have an account? <a routerLink="/auth/sign-in">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
