.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-buttons-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

nb-list {
  display: flex;
  flex-direction: column;

  nb-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  span {
    font-weight: bold;
    padding-right: 20px;
  }

  .warning-scores-container {
    padding: 0 40px;

    > div {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
  }
}
