.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .buttons {
    button {
      margin-right: 10px;
    }
  }
}

.additional-row {
  display: flex;
  flex-direction: column;
}
