<div class="col-md-12">
  <nb-card>
    <nb-card-header>
      <div class="title-container">
        <div>{{ 'PATIENT_DETAILS' | translate }}</div>
        <div>
          <button *ngIf="patient && patient.warningScores.length" nbButton
                  [routerLink]="'/pages/patients/' + patient._id + '/warning-score'">{{ 'CREATE_WARNING_SCORE' | translate }}</button>
          <button nbButton routerLink="/pages/patients">{{ 'GO_BACK' | translate }}</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="patient">
        <nb-stepper orientation="horizontal">
          <nb-step *ngFor="let form of masterForm; let i = index; trackBy: trackByFn">
            <form
              action=""
              [formGroup]="masterForm[i]"
              *ngIf="i === activeStepIndex || masterForm.length === 1"
            >
              <div class="fields-container">
                <div
                  *ngFor="let field of formFields[i]; trackBy: trackByFn"
                  [ngSwitch]="currentFormContent[i][field].type">
                  <div class="full-width">
                    <label class="field-label text-bold" [for]="field">{{ field  }}</label>
                    <ng-container *ngSwitchCase="'textarea'">
                <textarea
                  [id]="field"
                  [formControlName]="field"
                  [placeholder]="currentFormContent[i][field].placeholder"></textarea>
                    </ng-container>

                    <ng-container *ngSwitchCase="'select'">
                      <select [formControlName]="field" [id]="field">
                        <option value="">Select your Country</option>
                        <option
                          *ngFor="let option of currentFormContent[i][field].options; trackBy: trackByFn"
                          [value]="option.name"
                        >{{ option.name }}</option>
                      </select>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                      <input
                        [type]="currentFormContent[i][field].type"
                        [formControlName]="field"
                        [id]="field"
                        [placeholder]="currentFormContent[i][field].placeholder"
                      />
                    </ng-container>
                  </div>

                  <p
                    class="validation-error"
                    *ngIf="
                (masterForm[i].get(field).dirty ||
                  masterForm[i].get(field).touched) &&
                masterForm[i].get(field).invalid &&
                masterForm[i].get(field).errors
              "
                  >
                    {{ getValidationMessage(i, field) }}
                  </p>

                </div>
              </div>
              <div class="button-container">
                <button nbButton nbStepperPrevious
                  type="button"
                  [disabled]="!activeStepIndex"
                  (click)="goToStep('prev')"
                >Previous</button>
                <button nbButton
                  *ngIf="activeStepIndex === stepItems.length - 1"
                  type="button"
                  (click)="onFormSubmit()"
                >Submit</button>
                <button nbButton nbStepperNext
                  type="button"
                  [disabled]="activeStepIndex === stepItems.length - 1 || masterForm[i].invalid"
                  (click)="goToStep('next')"
                >Next</button>
              </div>
            </form>
          </nb-step>
        </nb-stepper>
        <!-- <form [formGroup]="patientEditForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label for="firstName" class="label col-sm-3 col-form-label">First name:</label>
            <input type="text" nbInput fullWidth id="firstName" formControlName="firstName"
                   placeholder="First name">
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First name is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="lastName" class="label col-sm-3 col-form-label">Last name:</label>
            <input type="text" nbInput fullWidth id="lastName" formControlName="lastName"
                   placeholder="Last name">
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last name is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="dateOfBirth" class="label col-sm-3 col-form-label">Date of Birth: </label>
            <input type="date" nbInput fullWidth id="dateOfBirth" formControlName="dateOfBirth"
                   placeholder="Date of birth">
            <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
              <div *ngIf="f.dateOfBirth.errors.required">Date of birth is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="sex" class="label col-sm-3 col-form-label">Gender: </label>
            <input type="date" nbInput fullWidth id="sex" formControlName="sex"
                   placeholder="Gender">
            <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
              <div *ngIf="f.dateOfBirth.errors.required">Gender is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="address" class="label col-sm-3 col-form-label">Address: </label>
            <input type="text" nbInput fullWidth id="address" formControlName="address"
                   placeholder="Address">
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
              <div *ngIf="f.address.errors.required">Address is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="address" class="label col-sm-3 col-form-label">Contact: </label>
            <input type="text" nbInput fullWidth id="contact" formControlName="address"
                   placeholder="Contact">
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
              <div *ngIf="f.contact.errors.required">Contact is required</div>
            </div>
          </div>

          <div class="form-group row">
            <label for="travelToRiskCountriesInTheLast14Days"
                   class="label col-sm-3 col-form-label">Travel To Risk
              Countries In The Last 14 Days: </label>
            <nb-radio-group
              formControlName="travelToRiskCountriesInTheLast14Days"
              name="travelToRiskCountriesInTheLast14Days"
              id="travelToRiskCountriesInTheLast14Days"
              [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="contactInTheLast14DaysWithAPersonWhoHasSymptoms"
                   class="label col-sm-3 col-form-label">Contact In The Last 14 Days With A Person Who Has
              Symptoms</label>
            <nb-radio-group
              formControlName="contactInTheLast14DaysWithAPersonWhoHasSymptoms"
              name="contactInTheLast14DaysWithAPersonWhoHasSymptoms"
              id="contactInTheLast14DaysWithAPersonWhoHasSymptoms"
              [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="haveYouBeenInContactWithPeopleWhoHaveTheCoronaVirusInTheLast14Days"
                   class="label col-sm-3 col-form-label">Been in contact with person who has Corona Virus:</label>
            <nb-radio-group
              formControlName="haveYouBeenInContactWithPeopleWhoHaveTheCoronaVirusInTheLast14Days"
              name="haveYouBeenInContactWithPeopleWhoHaveTheCoronaVirusInTheLast14Days"
              id="haveYouBeenInContactWithPeopleWhoHaveTheCoronaVirusInTheLast14Days"
              [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="haveYouEverBeenToAHealthCareFacilityWhereTheDiseaseHasBeenDiagnosedWithANewCoronavirus"
                   class="label col-sm-3 col-form-label">Ever been to a health care facility where the disease has been
              diagnosed:</label>
            <nb-radio-group
              formControlName="haveYouEverBeenToAHealthCareFacilityWhereTheDiseaseHasBeenDiagnosedWithANewCoronavirus"
              name="haveYouEverBeenToAHealthCareFacilityWhereTheDiseaseHasBeenDiagnosedWithANewCoronavirus"
              id="haveYouEverBeenToAHealthCareFacilityWhereTheDiseaseHasBeenDiagnosedWithANewCoronavirus"
              [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="didYouGoForAExaminationSomewhere" class="label col-sm-3 col-form-label">Been to
              examination:</label>
            <nb-radio-group formControlName="didYouGoForAExaminationSomewhere" name="didYouGoForAExaminationSomewhere"
                            id="didYouGoForAExaminationSomewhere"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="currentProblems"
                   class="label col-sm-3 col-form-label">Problems:</label>
            <input type="text" nbInput fullWidth
                   id="currentProblems"
                   formControlName="currentProblems"
                   placeholder="Problems:">
          </div>

          <div class="form-group row">
            <label for="problemsDuration"
                   class="label col-sm-3 col-form-label">Duration of problems:</label>
            <input type="number" nbInput fullWidth
                   id="problemsDuration"
                   formControlName="problemsDuration"
                   placeholder="Duration of problems::">
          </div>

          <div class="form-group row">
            <label for="highTemperature" class="label col-sm-3 col-form-label">High temperature:</label>
            <nb-radio-group formControlName="highTemperature" name="highTemperature" id="highTemperature"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="shaking" class="label col-sm-3 col-form-label">Shaking</label>
            <nb-radio-group formControlName="shaking" name="shaking" id="shaking"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="lossOfAppetite" class="label col-sm-3 col-form-label">Loss of appetite:</label>
            <nb-radio-group formControlName="lossOfAppetite" name="lossOfAppetite" id="lossOfAppetite"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="exhaustion" class="label col-sm-3 col-form-label">Exhaustion</label>
            <nb-radio-group formControlName="exhaustion" name="exhaustion" id="exhaustion"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="muscleAchesAndPains" class="label col-sm-3 col-form-label">Muscle aches and pains</label>
            <nb-radio-group formControlName="muscleAchesAndPains" name="muscleAchesAndPains" id="muscleAchesAndPains"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="boneOrJointPain" class="label col-sm-3 col-form-label">Bone/Joint pain:<</label>
            <nb-radio-group formControlName="boneOrJointPain" name="boneOrJointPain" id="boneOrJointPain"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="cough" class="label col-sm-3 col-form-label">Cough</label>
            <nb-radio-group formControlName="cough" name="cough" id="cough"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="expectoration" class="label col-sm-3 col-form-label">Expectoration</label>
            <nb-radio-group formControlName="expectoration" name="expectoration" id="expectoration"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="shortnessOfBreath" class="label col-sm-3 col-form-label">Shortness of breath</label>
            <nb-radio-group formControlName="shortnessOfBreath" name="shortnessOfBreath" id="shortnessOfBreath"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="choking" class="label col-sm-3 col-form-label">Choking</label>
            <nb-radio-group formControlName="choking" name="choking" id="choking" [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>


          <div class="form-group row">
            <label for="fatigue" class="label col-sm-3 col-form-label">Fatigue</label>
            <nb-radio-group formControlName="fatigue" name="fatigue" id="fatigue" [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="chestPressure" class="label col-sm-3 col-form-label">Chest Pressure</label>
            <nb-radio-group formControlName="chestPressure" name="chestPressure" id="chestPressure"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="chestPain" class="label col-sm-3 col-form-label">Chest pain</label>
            <nb-radio-group formControlName="chestPain" name="chestPain" id="chestPain" [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="sneezing" class="label col-sm-3 col-form-label">Sneezing</label>
            <nb-radio-group formControlName="sneezing" name="sneezing" id="sneezing" [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="nasalCongestion" class="label col-sm-3 col-form-label">Nasal Congestion</label>
            <nb-radio-group formControlName="nasalCongestion" name="nasalCongestion" id="nasalCongestion"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="secretionFromTheNose" class="label col-sm-3 col-form-label">Secretion from the nose:</label>
            <nb-radio-group formControlName="secretionFromTheNose" name="secretionFromTheNose" id="secretionFromTheNose"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="bleedingFromTheNose" class="label col-sm-3 col-form-label">Bleeding from the nose:</label>
            <nb-radio-group formControlName="bleedingFromTheNose" name="bleedingFromTheNose" id="bleedingFromTheNose"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="eyesPain" class="label col-sm-3 col-form-label">Eyes pain:</label>
            <nb-radio-group formControlName="eyesPain" name="eyesPain" id="eyesPain" [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="redEyes" class="label col-sm-3 col-form-label">Red eyes:</label>
            <nb-radio-group formControlName="redEyes" name="redEyes" id="redEyes" [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="throatProblems" class="label col-sm-3 col-form-label">Throat Problems</label>
            <nb-radio-group formControlName="throatProblems" name="throatProblems" id="throatProblems"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="throatSecretion" class="label col-sm-3 col-form-label">Throat Problems</label>
            <nb-radio-group formControlName="throatSecretion" name="throatSecretion" id="throatSecretion"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="headache" class="label col-sm-3 col-form-label">Headache</label>
            <nb-radio-group formControlName="headache" name="headache" id="headache"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="abdominalPain" class="label col-sm-3 col-form-label">Abdominal pain</label>
            <nb-radio-group formControlName="abdominalPain" name="abdominalPain" id="abdominalPain"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="nausea" class="label col-sm-3 col-form-label">Nausea</label>
            <nb-radio-group formControlName="nausea" name="nausea" id="nausea"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="vomit" class="label col-sm-3 col-form-label">Vomit</label>
            <nb-radio-group formControlName="vomit" name="vomit" id="vomit"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="diarrhea" class="label col-sm-3 col-form-label">Diarrhea</label>
            <nb-radio-group formControlName="diarrhea" name="diarrhea" id="diarrhea"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="backPain" class="label col-sm-3 col-form-label">Back pain</label>
            <nb-radio-group formControlName="backPain" name="backPain" id="backPain"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="urinaryProblems" class="label col-sm-3 col-form-label">Urinary problems</label>
            <nb-radio-group formControlName="urinaryProblems" name="urinaryProblems" id="urinaryProblems"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="rash" class="label col-sm-3 col-form-label">Rash</label>
            <nb-radio-group formControlName="rash" name="rash" id="rash"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="enlargedLymphNodes" class="label col-sm-3 col-form-label">Enlarged Lymph Nodes</label>
            <nb-radio-group formControlName="enlargedLymphNodes" name="enlargedLymphNodes" id="enlargedLymphNodes"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="neuroInterferences" class="label col-sm-3 col-form-label">Neuro Interferences</label>
            <nb-radio-group formControlName="neuroInterferences" name="neuroInterferences" id="neuroInterferences"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="drugAllergy" class="label col-sm-3 col-form-label">Drug Allergy</label>
            <nb-radio-group formControlName="drugAllergy" name="drugAllergy" id="drugAllergy"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="smoking" class="label col-sm-3 col-form-label">Smoking</label>
            <nb-radio-group formControlName="smoking" name="smoking" id="smoking"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="increasedBloodPressure" class="label col-sm-3 col-form-label">Increased Blood Pressure</label>
            <nb-radio-group formControlName="increasedBloodPressure" name="increasedBloodPressure"
                            id="increasedBloodPressure"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="coronaryHeartDisease" class="label col-sm-3 col-form-label">Coronary Heart Disease</label>
            <nb-radio-group formControlName="coronaryHeartDisease" name="coronaryHeartDisease"
                            id="coronaryHeartDisease"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="heartArrhythmia" class="label col-sm-3 col-form-label">Heart Arrhythmia</label>
            <nb-radio-group formControlName="heartArrhythmia" name="heartArrhythmia"
                            id="heartArrhythmia"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="heartFailure" class="label col-sm-3 col-form-label">Heart Failure</label>
            <nb-radio-group formControlName="heartFailure" name="heartFailure"
                            id="heartFailure"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="lungDisease" class="label col-sm-3 col-form-label">Lung Disease</label>
            <nb-radio-group formControlName="lungDisease" name="lungDisease"
                            id="lungDisease"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="asthma" class="label col-sm-3 col-form-label">Asthma</label>
            <nb-radio-group formControlName="asthma" name="asthma"
                            id="asthma"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="chronicKidneyDisease" class="label col-sm-3 col-form-label">Chronic Kidney Disease</label>
            <nb-radio-group formControlName="chronicKidneyDisease" name="chronicKidneyDisease"
                            id="chronicKidneyDisease"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="diabetes" class="label col-sm-3 col-form-label">Diabetes</label>
            <nb-radio-group formControlName="diabetes" name="diabetes"
                            id="diabetes"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="heartStroke" class="label col-sm-3 col-form-label">Heart Stroke</label>
            <nb-radio-group formControlName="heartStroke" name="heartStroke"
                            id="heartStroke"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="malignantDisease" class="label col-sm-3 col-form-label">Malignant Disease</label>
            <nb-radio-group formControlName="malignantDisease" name="malignantDisease"
                            id="malignantDisease"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="chronicLiverDisease" class="label col-sm-3 col-form-label">Chronic Liver Disease</label>
            <nb-radio-group formControlName="chronicLiverDisease" name="chronicLiverDisease"
                            id="chronicLiverDisease"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="inflamatoryBowelDisease" class="label col-sm-3 col-form-label">Inflamatory Bowel Disease</label>
            <nb-radio-group formControlName="inflamatoryBowelDisease" name="inflamatoryBowelDisease"
                            id="inflamatoryBowelDisease"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="reuma" class="label col-sm-3 col-form-label">Reuma</label>
            <nb-radio-group formControlName="reuma" name="reuma"
                            id="reuma"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="hiv" class="label col-sm-3 col-form-label">HIV</label>
            <nb-radio-group formControlName="hiv" name="hiv"
                            id="hiv"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="medications" class="label col-sm-3 col-form-label">Medications</label>
            <nb-radio-group formControlName="medications" name="medications"
                            id="medications"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

          <div class="form-group row">
            <label for="operations" class="label col-sm-3 col-form-label">Operations</label>
            <nb-radio-group formControlName="operations" name="operations"
                            id="operations"
                            [(value)]="radioGroupValue">
              <nb-radio
                [value]="true">
                YES
              </nb-radio>
              <nb-radio
                [value]="false">
                NO
              </nb-radio>
            </nb-radio-group>
          </div>

        </form> -->
      </div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </nb-card-body>
  </nb-card>
</div>

