<div class="col-md-5 mt-5 center-col">
  <div class="card">
    <h1 class="card-header-title">{{'RESET_PASSWORD' | translate}}</h1>
    <div class="card-body">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="currentPassword">{{'CURRENT_PASSWORD' | translate}}</label>
          <input type="password" placeholder="{{'CURRENT_PASSWORD' | translate}}" formControlName="currentPassword"
                 name="currentPassword"
                 id="currentPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"/>
          <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
            <div *ngIf="f.currentPassword.errors.required">{{'PASSWORD_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">{{'NEW_PASSWORD' | translate}}</label>
          <input type="password" placeholder="{{'NEW_PASSWORD' | translate}}" formControlName="newPassword"
                 name="newPassword"
                 id="newPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
          <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
            <div *ngIf="f.newPassword.errors.required">{{'PASSWORD_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPasswordRepeat">{{'NEW_PASSWORD_REPEAT' | translate}}</label>
          <input type="password" placeholder="{{'NEW_PASSWORD_REPEAT' | translate}}" formControlName="newPasswordRepeat"
                 name="newPasswordRepeat"
                 id="newPasswordRepeat" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.newPasswordRepeat.errors }"/>
          <div *ngIf="submitted && f.newPasswordRepeat.errors" class="invalid-feedback">
            <div *ngIf="f.newPasswordRepeat.errors.required">{{'PASSWORD_REQUIRED' | translate}}</div>
          </div>
        </div>
        <button [ngClass]="{'btn-active' : resetPasswordForm.dirty}" [disabled]="!resetPasswordForm.dirty"
                class="btn btn-primary sign-in-btn">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'RESET_PASSWORD' | translate}}
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
