<div class="col-md-6">
  <nb-card>
    <nb-card-header>{{'PATIENT_WARNING_SCORE' | translate}}</nb-card-header>
    <nb-card-body>
      <form [formGroup]="scoreForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="years" class="label col-sm-3 col-form-label">{{'PATIENT_YEARS' | translate}}</label>
          <input type="number" disabled nbInput fullWidth id="years" formControlName="years"
                 placeholder="{{'PATIENT_YEARS' | translate}}">
          <div *ngIf="submitted && f.years.errors" class="invalid-feedback">
            <div *ngIf="f.years.errors.required">{{'PATIENT_YEARS_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="numberOfRespirations"
                 class="label col-sm-3 col-form-label">{{'RESPIRATION_NUMBER' | translate}}</label>
          <input type="number" nbInput fullWidth id="numberOfRespirations" formControlName="numberOfRespirations"
                 placeholder="{{'RESPIRATION_NUMBER' | translate}}">
          <div *ngIf="submitted && f.numberOfRespirations.errors" class="invalid-feedback">
            <div *ngIf="f.numberOfRespirations.errors.required">{{'RESPIRATION_NUMBER_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="oxygenSaturation"
                 class="label col-sm-3 col-form-label">{{'OXYGEN_SATURATION' | translate}}</label>
          <input type="number" nbInput fullWidth id="oxygenSaturation" formControlName="oxygenSaturation"
                 placeholder="{{'OXYGEN_SATURATION' | translate}}">
          <div *ngIf="submitted && f.oxygenSaturation.errors" class="invalid-feedback">
            <div *ngIf="f.oxygenSaturation.errors.required">{{'OXYGEN_SATURATION_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="anyAdditionalO2" class="label col-sm-3 col-form-label">{{'ADDITIONAL_O2' | translate}}</label>
          <nb-radio-group formControlName="anyAdditionalO2" name="anyAdditionalO2" id="anyAdditionalO2"
                          [(value)]="radioGroupValue">
            <nb-radio
              [value]="true">
              YES
            </nb-radio>
            <nb-radio
              [value]="false">
              NO
            </nb-radio>
          </nb-radio-group>
        </div>
        <div class="form-group row">
          <label for="systolicPressure"
                 class="label col-sm-3 col-form-label">{{'SYSTOLIC_PRESSURE' | translate}}</label>
          <input type="number" nbInput fullWidth id="systolicPressure" formControlName="systolicPressure"
                 placeholder="{{'SYSTOLIC_PRESSURE' | translate}}">
          <div *ngIf="submitted && f.systolicPressure.errors" class="invalid-feedback">
            <div *ngIf="f.systolicPressure.errors.required">{{'SYSTOLIC_PRESSURE_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="heartRate" class="label col-sm-3 col-form-label">{{'HEART_RATE' | translate}}</label>
          <input type="number" nbInput fullWidth id="heartRate" formControlName="heartRate"
                 placeholder="{{'HEART_RATE' | translate}}">
          <div *ngIf="submitted && f.heartRate.errors" class="invalid-feedback">
            <div *ngIf="f.heartRate.errors.required">{{'HEART_RATE_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="stateOfConsciousness"
                 class="label col-sm-3 col-form-label">{{'STATE_OF_CONSCIOUSNESS' | translate}}</label>
          <input type="text" nbInput fullWidth id="stateOfConsciousness" formControlName="stateOfConsciousness"
                 placeholder="{{'STATE_OF_CONSCIOUSNESS' | translate}}">
          <div *ngIf="submitted && f.stateOfConsciousness.errors" class="invalid-feedback">
            <div *ngIf="f.stateOfConsciousness.errors.required">{{'STATE_OF_CONSCIOUSNESS_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="bodyTemperature" class="label col-sm-3 col-form-label">{{'BODY_TEMPERATURE' | translate}}</label>
          <input type="number" nbInput fullWidth id="bodyTemperature" formControlName="bodyTemperature"
                 placeholder="{{'BODY_TEMPERATURE' | translate}}">
          <div *ngIf="submitted && f.bodyTemperature.errors" class="invalid-feedback">
            <div *ngIf="f.bodyTemperature.errors.required">{{'BODY_TEMPERATURE_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-9">
            <button type="submit" nbButton status="primary">{{'CREATE_NEW_SCORE_RATING' | translate}}</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
