<input type="file" #fileReader name="Upload CSV" id="fileUpload" (change)="uploadDataListener($event)" accept=".csv"/>

<div class="board">
  <div class="card-list mat-elevation-z1" *ngFor="let item of importedColumns; let i=index">
    <h2 cdkDragHandle class="mat-h2">{{item.title}}</h2>
    <div class="card-list-content" cdkDropList [id]="item.id" [cdkDropListData]="item.tasks"
         [cdkDropListConnectedTo]="columnIds"
         (cdkDropListDropped)="onItemDrop($event)">
      <nb-card style="margin: 2%;" *ngFor="let task of item.tasks" cdkDrag>
        <nb-card-body>
          <h2>
            {{task.title}}
          </h2>
          {{task.description}}
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
