<div class="col-md-12">
  <nb-card>
    <nb-card-header>
      <div class="title-container">
        <div class="title">
          {{'IMPORT_PATIENTS' | translate}}
        </div>
        <div class="buttons">
          <button nbButton (click)="saveImportedData()">{{'SAVE_IMPORTED_DATA' | translate}}</button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="root">
        <div class="board">
          <div class="board-bar">
            <input type="file" #fileReader name="Upload CSV" id="fileUpload" (change)="uploadDataListener($event)"
                   accept=".csv"/>
          </div>
          <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
              <div class="board-column" *ngFor="let column of mainData.columns">
                <div class="column-title">
                  {{ column.name }}
                </div>
                <div class="tasks-container"
                     cdkDropList
                     [cdkDropListData]="column.items"
                     (cdkDropListDropped)="onItemDrop($event)">
                  <div class="task" *ngFor="let item of column.items; let i = index" cdkDrag>
                    <div class="task-inner"
                                  [ngClass]="{'done': (checkmarks[i] && checkmarks[i].checked === true)}">
                      <div class="task-checkmark">
                        <span>{{ i + 1 }}</span>
                        <nb-checkbox (click)="checkMarkItem(i, item.name)"></nb-checkbox>
                      </div>
                      <div class="task-info">
                        {{ item.name }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
