<div class="col-md-5 mt-5 center-col">
  <div class="card">
    <h1 class="card-header-title">{{'SIGN_UP' | translate}}</h1>
    <div class="card-body">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">{{'FIRST_NAME' | translate}}</label>
          <input type="text" placeholder="{{'FIRST_NAME' | translate}}" formControlName="firstName" name="name"
                 id="name" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">{{'FIRST_NAME_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">{{'LAST_NAME' | translate}}</label>
          <input type="text" placeholder="{{'LAST_NAME' | translate}}" formControlName="lastName" name="lastName"
                 id="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">{{'LAST_NAME_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">{{'EMAIL_ADDRESS' | translate}}</label>
          <input type="text" placeholder="{{'EMAIL_ADDRESS' | translate}}" formControlName="email" name="email"
                 id="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">{{'EMAIL_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="cityOrRegion">{{'CITY_REGION' | translate}}</label>
          <input type="text" placeholder="{{'CITY_REGION' | translate}}" formControlName="cityOrRegion"
                 name="cityOrRegion" id="cityOrRegion" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.cityOrRegion.errors }"/>
          <div *ngIf="submitted && f.cityOrRegion.errors" class="invalid-feedback">
            <div *ngIf="f.cityOrRegion.errors.required">{{'CITY_REGION_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="hospitalName">{{'HOSPITAL_NAME' | translate}}</label>
          <input type="text" placeholder="{{'HOSPITAL_NAME' | translate}}" formControlName="hospitalName"
                 name="hospitalName" id="hospitalName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.hospitalName.errors }"/>
          <div *ngIf="submitted && f.hospitalName.errors" class="invalid-feedback">
            <div *ngIf="f.hospitalName.errors.required">{{'HOSPITAL_NAME_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="hospitalName">{{'COUNTRY' | translate}}</label>
          <input type="text" placeholder="{{'COUNTRY' | translate}}" formControlName="country" name="country"
                 id="country" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.country.errors }"/>
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">{{'COUNTRY_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{'PASSWORD' | translate}}</label>
          <input type="password" placeholder="{{'PASSWORD' | translate}}" formControlName="password" name="password"
                 id="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">{{'PASSWORD_REQUIRED' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordRepeat">{{'PASSWORD_REPEAT' | translate}}</label>
          <input type="password" placeholder="{{'PASSWORD_REPEAT' | translate}}" formControlName="passwordRepeat" name="passwordRepeat"
                 id="passwordRepeat" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.passwordRepeat.errors }"/>
          <div *ngIf="submitted && f.passwordRepeat.errors" class="invalid-feedback">
            <div *ngIf="f.passwordRepeat.errors.required">{{'PASSWORD_REQUIRED' | translate}}</div>
          </div>
        </div>
        <button [ngClass]="{'btn-active' : signUpForm.dirty}" [disabled]="!signUpForm.dirty"
                class="btn btn-primary sign-in-btn">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          {{'SIGN_UP' | translate}}
        </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
      </form>
    </div>
  </div>
</div>
