<nb-card>
  <nb-card-header>
    <div>
      {{ 'DOCTOR_DETAILS' | translate }}
    </div>
    <div class="title-container">
      <button nbButton routerLink="/pages/doctors">{{'GO_BACK' | translate}}</button>
      <button nbButton status="danger" (click)="deleteDoctor()">{{ 'DELETE_DOCTOR' | translate }}</button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="doctor">
      <nb-list>
        <nb-list-item>
          <span>First name:</span> {{ doctor.firstName }}
        </nb-list-item>
        <nb-list-item>
          <span>Last name:</span> {{ doctor.lastName }}
        </nb-list-item>
        <nb-list-item>
          <span>Email:</span>  {{ doctor.email }}
        </nb-list-item>
        <nb-list-item>
          <span>Country:</span>  {{ doctor.country }}
        </nb-list-item>
        <nb-list-item>
          <span>City/Region:</span> {{ doctor.cityOrRegion }}
        </nb-list-item>
        <nb-list-item>
          <span>Hospital name:</span> {{ doctor.hospital }}
        </nb-list-item>
      </nb-list>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
  </nb-card-body>
</nb-card>
