.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nb-list {
  display: flex;
  flex-direction: column;

  nb-list-item {
    display: flex;
    justify-content: space-between;
  }

  span {
    font-weight: bold;
    padding-right: 20px;
  }
}
