@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.ng2-smart-action-add-add {
  visibility: hidden !important;
}

:host /deep/ ng2-st-tbody-custom {
  display: flex !important;
  align-items: center !important;
  margin-bottom: -44px !important;
}

nb-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
